<template id = 'printer_card_template'>
  <div class="col-sm-3">
  <div class="card">
  		<div class="card-header flex-md-nowrap d-flex justify-content-between">
  			<h5 class="name">Name</h5>
  			<a class="web_link">[w]</a>
  		</div>
  	<div class="progress" style="height: 20pt;">
  		<div class="progress-bar printer_progress" role="progressbar" style="width: 0%;">0%</div>
	</div>
  	<div class="card-body p-2">
  		<div>
  			<span>Local state:</span>
  			<strong class="printer_local_state">[state]</strong><br>

  			<span>Remote state:</span>
  			<strong class="printer_state">[state]</strong><br>

  			<span>File:</span>
  			<strong class="printer_file">[file]</strong><br>

  			<span>Print Time:</span>
  			<strong class="printer_printtime">[print time]</strong><br>

  			<span class="printer_temperatures"></span><br>

  			<span>Last update:</span>
  			<small><span class="printer_lastupdate">[print time]</span></small><br>
  		</div>

  	</div>


  </div>
</div>
</template> 