<div class="card mt-3">
  <h5 class="card-header">O3Farm - Testovací farma</h5>
  <div class="card-body" id="printer-details" style="display: none;">

  	<h3 class="mb-0 printer-name printer-values"> Prinetr </h3>
  	<small class="text-muted printer-id printer-values">id</small>
  	<hr>
  	<span>Local state:</span>
  	<select class="printer-status-local-state">
  		<option value=0 disabled>Ready</option>
  		<option value=1 disabled>Printing</option>
  		<option value=2 disabled>Printed</option>
  	</select>

  	<hr>

	<button onclick="printer_eneable(true)">Eneable</button>
	<button onclick="printer_eneable(false)">Disable</button>

  	<hr>
  	<span>State:</span>
  	<bold class="printer-status-state printer-values">[State]</bold>
  	<br>

  	<span>File:</span>
  	<bold class="printer-status-file printer-values">[State]</bold>
  	<br>

  	<span>Total print time:</span>
  	<bold class="printer-status-tpt printer-values">[State]</bold>
  	<br>

  	<span>Print Time:</span>
  	<bold class="printer-status-pt printer-values">[State]</bold>
  	<br>

  	<span>Print Time Left:</span>
  	<bold class="printer-status-ptl printer-values">[State]</bold>


  	<span>Print Time Left:</span>
  	<bold class="printer-status-flags printer-values">[State]</bold>


  </div>
</div>

<div class="card mt-2">
    <div class="card-header flex-md-nowrap d-flex justify-content-between">
    	<h5>File browser</h5>
    	<i onclick="load_files()">[R]</i>
    </div>

  <div class="card-body p-0 " style="max-height: 10cm; overflow-y: auto;">
	    <ul class="list-group list-group-flush file-list-holder">
		</ul>
	</div>

  <div class="card-footer">
	<form method=post enctype=multipart/form-data action="/api/files">
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    
  </div>
</div>
<div>
</div>





<script type="text/javascript">

	function printer_eneable(eneable) {
		$.ajax({
	        type: "POST",
	        //content-type: "application/json",
        	contentType: "application/json",
        	dataType: "json",
	        url: "/api/of/eneable",
	        data: JSON.stringify({
	        	'id': actual_printer,
	        	'eneable': eneable
	        }),
	        success: function( data, textStatus, jQxhr ){
				console.log(data)
	        },
	        error: function( jqXhr, textStatus, errorThrown ){
	            console.log( errorThrown );
	        }
	    });
	}
	

</script>


<script type="text/javascript">
	
	function load_files(){
		$('.file-list-holder').empty();
		$.ajax({
	        type: "GET",
	        contentType: "application/json",
        	url: "/api/files",
	        success: function( data, textStatus, jQxhr ){
				for(i in data.files){
					var f = data.files[i];
					console.log(f);
					var t = '<li class="list-group-item d-flex justify-content-between align-items-center">'
					t += f._id 
					t += "<button onclick='add_to_query(\""+f._id+"\")'>[p]</button>"
					t += "</li>";
					$('.file-list-holder').append(t)
				}
	        },
	        error: function( jqXhr, textStatus, errorThrown ){
	            console.log( errorThrown );
	        }
	    });
	}
	load_files();

</script>


<script type="text/javascript">
	
	function add_to_query(id){
	$.ajax({
	        type: "POST",
	        //content-type: "application/json",
        	contentType: "application/json",
        	dataType: "json",
	        url: "/api/query",
	        data: JSON.stringify({
	        	'operation': 'add_to_query',
	        	'file_id': id
	        }),
	        success: function( data, textStatus, jQxhr ){
				console.log(data)
	        },
	        error: function( jqXhr, textStatus, errorThrown ){
	            console.log( errorThrown );
	        }
	    });	
	}


</script>